<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>

<body>
    <center>
        <h1>Halo, <%=namaUser.username%>!</h1>
        <h1>Selamat datang di profil homepage!</h1>
        <br />
        <p>
            Teks biasa untuk outputan, boleh ketik apapun disini, mau lorem, yurod,
            terserah anda!
        </p>
        <br />

        <a href="/logout">Logout</a>
    </center>
</body>
</html>