<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website</title>
</head>

<body>
    <center>
        <h1>Register disini.</h1>
        <hr/>
                    <h3>Daftar kuy!</h3>
                        <form action="/auth" method="post">
                        <input type="text" name="email" placeholder="Email. . ." required=""/> 
                        <br /><br />
                        <input type="text" name="username" placeholder="Username. . ." required="" />
                        <br /><br />
                        <input type="password" name="password" placeholder="Password. . ." required="" />
                        <br /><br />
                        <input type="password"name="passwordConf" placeholder="Konfirmasi Password. . ." required="" />
                        <br /><br />
                        <input type="submit" value="Register!" /><br> <br>
                        <a href="/">Kembali Login</a>
                        </form>
    </center>
    <br />
    <hr />
</body>
</html>